// Variables 
$main-width: 1140px;
$font-size-normal: 1.25rem;
$phone-width: 48rem;
$left-right-padding: 0 15px;
$left-right-margin: 0 auto;
$primary-color: #ED1C24;
$secondry-color: #fdd600;
//Mobile-screen width
$mobile-min-width: 360px;
$mobile-max-width: 768px;
//Tablete-screen width
$tab-min-width: 768px;
$tab-max-width: 1024px;
// Variables

@mixin mobile-screen ($width, $fontsize , $margin) {
    width: $width;
    font-size: $fontsize;
    margin: $margin;
}

@mixin tablet-screen ($width, $fontsize, $margin) {
    width: $width;
    font-size: $fontsize;
    margin: $margin;
}

@mixin fablet-screen ($width, $font-size) {
    width: $width;
    font-size: $fontsize;
}


section {
    width: 100%;
}

/*Sticky Position */
// .sticky {
//     position: fixed;
//     top: 0;
//     z-index: 10;
//     border-top: 0;
// }

/*Html MainDocument */
html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}
   
/* Covid Alert Section */
.covid-alert-container {
    width: 100%;
    background-color: #FAF487;
    padding: $left-right-padding;
    height: 5.625rem;
    position: relative;
    .covid-alert-content {
        width: $main-width;
        margin: 0 auto;
        text-align: center;
        padding: 1.25rem 0;

        a {
            text-decoration: none;
            color: black;
            font-size: 1.125rem;
        }
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            @include mobile-screen(95%, 24px, 0 auto);
        }
        @media screen and (min-width:$tab-min-width) and (max-width: $tab-max-width) {
            @include tablet-screen(95%, 30px, 0 auto);
        }
    }
    .close-btn {
        float: right;
        background-color: black;
        color: white;
        margin: 15px 50px 0 0;
        width: 20px;
        height: 20px;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
    }
    @media screen and (max-width: $tab-max-width) {
        height: 100%;
        padding: 0;
    } 
}

/* Header-Section */
.container-fluid {
    width: 100%;
    padding: $left-right-padding;
    margin: $left-right-margin;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgb(0,0,0,0.25);
    .container {
        width: $main-width;
        margin: $left-right-margin;
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            @include mobile-screen(95% , 24px, 0 auto );
        }

        @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
            @include tablet-screen(95%, 30px, 0 auto );
        }
    }
    @media screen and (max-width: $tab-max-width) {
        padding: 0;
    }
}
.info-nav {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    padding-top: 0.5rem;
    .empty-info {
        flex-basis: 70%;
        @media screen and (min-width:$mobile-min-width) and (max-width: $tab-max-width) {
            display: none;
        }
    }
    .top-header {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        flex-basis: 30%;
    
        p {
            color: $primary-color;
            border-right: 1px solid black;
            font-size: $font-size-normal;
            font-weight: bold;
            padding-right: 0.5rem;
        }
        a {
            &:hover {
                background-color: #e6dede;
            }
        }
        img {
           height: 25px;
           width: 25px;
           padding-left: .5rem;
           padding-top: 0.5rem;
        }
        @media screen and (min-width: $mobile-min-width) and (max-width: $tab-max-width) {
            width: 100%;
            margin: 0 auto;
        }
    }
}
/* Main-Navbar */
.main-navbar {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 1.5rem;
    flex-flow: row wrap;
   
    .brand-container {
        width: 124px;
        align-self: flex-start;
        margin-bottom: 10px;;
    }
    .nav-container {
        width: calc(100% - 154px);
        margin-top: $font-size-normal;
        .nav-items {
            display: flex;
            list-style: none;
            width: 80%;
            float: right;
            .nav-item {
                width: 200px;
                text-align: right;
              a {
                text-decoration: none;
                font-size: 17px;
                color: black;
                &:hover {
                    color:$primary-color ;
                    border-bottom: 2px solid $primary-color;
                    padding-bottom: 10px;
                }
            } 
            @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
                @include mobile-screen(320px, 30px , 0 auto );
                display: none;
            }
            @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
               display: none;
            }
            }
            .nav-btn {
                width: 400px;
                margin-left: 50px;
            }
            .request-button {
                text-decoration: none;
                padding: 12px;
                color: black;
                font-size: 17px;
                border-radius: 0;
                background-color: $secondry-color;
                border: none;
                @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
                    @include mobile-screen(320px, 30px , 0 auto );
                    display: none;
                }
            }
            .collapse-btn {
                outline: none;
                border: 0;
                background: #fff;
                visibility: hidden;
            }
        }
    }
    .collapse-container {
        display: none;
        @media screen and (min-width: $mobile-min-width) and (max-width: $tab-max-width) {
            display: block;
        }
    }
}
/* Main Navbar Section End */
/*Mobile-Navbar */
.closebtn {
    margin-top: 40px;
    position: relative;
    right: -95%;
    a {
        text-decoration: none;
        color: #c2bfbf;
        font-size: 1.5rem;
    }
}
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 150px;
    left: 0;
    background: #001A41;
    width: 30%;
    height: 100%;
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        width: 100%;
        height: 600px;
        position: relative;
        top: -50px;
    }
    @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
        width: 100%;
        height: 600px;
        position: relative;
        top: -40px;
    }
  }
.mobile-nav__items {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0 30px;
    box-sizing: border-box;
  }
.mobile-nav__item {
    margin: 1rem 0;
  }
  
.mobile-nav__item {
    text-align: left;
    padding: 10px 0;
    border-bottom: 2px solid #fff;
    &:hover {
        border-bottom: 2px solid $primary-color;
    }
a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    &:hover {
        color: $primary-color;
    }
  }
}
/*Mobile-Navbar */

main {
    .banner-container {
        height: 456px;
        overflow: visible;
        padding: 0;
        position: relative;
        .waves {
            width: 104%;
            height: 215px;
            position: relative;
            top: -25%;
            left: -4%;
            z-index: 1;
            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
    .bg-img {
        height: 456px;
        img {
            height: 100%;
            width: 100%;
            position: relative;
            object-fit: cover;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 43.8%;
            background-image: linear-gradient($primary-color 5%,#9e050c 95%);
            opacity: 0.7;
            z-index: 1;
            @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
                width: 100%;
            }
            @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
                width: 50%;
                z-index: 1;
            }
        }
        
    } 
}

/* Heading section */
.heading-container {
    width: $main-width;
    margin: $left-right-margin;
    .heading-content {
        width: 33%;
        text-align: left;
        position: absolute;
        top: 100px;
        z-index: 4;
        color: white;
        h6 {
            font-size: 24px;
            margin-bottom: $font-size-normal;
            font-weight: bold;
        }
        h3 {
            font-size: 36px;
            font-weight: 300;
            margin-bottom: 22px;
            width: 325px;
            @media screen and (min-width: $mobile-min-width) and (max-width: $tab-max-width) {
                font-size: 20px;
            }
        }
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            width: 100%;
            padding-left: 20px;
        }
        @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
            width: 50%;
            padding-left: 20px;
        }
    }
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        @include mobile-screen(320px, 20px , 0 auto );
    }
    @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
        @include tablet-screen(728px , 25px , 0 auto );
    }
}

/*---Intro Section Start -----*/
.intro-container {
    width: 100%;
    margin-top: 250px;
    @media screen and (min-width: $mobile-min-width) and (max-width: $tab-max-width) {
        margin: 0;
        padding-top: 30px;
        text-align: center;
    }
    
 }
 .intro-main-container {
    padding: 0 8px;
    width: $main-width;
    margin: $left-right-margin;
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        @include mobile-screen(95%, 25px,0 auto );
        font-size: 16px;
    }

    @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
        @include tablet-screen(95%, 25px, 0 auto);
    }
}
// .intro-heading-row {
//     // display: flex;
// }
.intro-heading-content {
    padding-bottom: 56px;
    @media screen and (min-width: $mobile-min-width) and (max-width: $tab-max-width) {
        padding-bottom: 20px;
        position: relative;
        z-index: 12;
    }
}
.intro-heading-content h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 100;
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        font-size: 24px;
        text-align: center;
        font-weight: 600;
    }
}
.intro-heading-content p {
    width: 522px;
    margin: 8px 0;
    font-size: $font-size-normal;
    justify-content: left;
    color: #000000;
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
        text-align: center;
        width: 100%;
    }
}
.intro-content-row {
   display: flex;
   .col-1 {
       margin-left: 0;
       @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {

       }
   }
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        width: 100%;
        display: block;
    }
    @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
        display: block;
    }
}
.intro-content-col {
    flex-basis:33%;
    margin: 15px 15px 0;
    align-self: baseline;
    .intro-icon-wrap {
        margin-bottom: 28px;        
        display: flex;
        max-width: 355px;
        min-width: 100px;
        .intro-icon {
            min-width: 60px;
            height: 60px;
            margin: $left-right-margin;
            @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
                width: 100%;
                height: 100px;
            }
        }
        .intro-icon3 {
            width: 100px;
            height: 100px;

        }
        
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            display: block;
            margin: $left-right-margin;
        }
        @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
            margin-bottom: 0;
            margin: $left-right-margin;
        }
    }
    .icon-content {
        .icon-title {
            font-size: $font-size-normal;
            font-weight: bold;
        }
    }

    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        padding: 20px;
        text-align: center;
        margin-left: 0;
    }
    @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
        margin-left: 0;
        display: inline-block;
        width: 33%;
        margin-bottom: 20px;
        margin-right: 0;
        text-align: center;
        font-size: 16px;
    }
    
}
/* Solution Section */
.gray-waves {
    width: 114%;
    height: 100%;
    padding-top: 50px;
    .waves-bg {
        width: 114%;
        height: 75%;
        object-fit: cover;
        position: absolute;
        left: -5%;
        z-index: -1;
    }
}
.solution-container {
    width: $main-width;
    margin: $left-right-margin;
    padding-top: 100px;
    padding-bottom:140px;
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        @include mobile-screen(95%, 25px, 0 auto);
    }
    @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
        @include tablet-screen(95%, 20px, 0 auto);
    }
}
.solution-main-container {
    width: 100%;
    margin-bottom: 30px;
    h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        line-height: 1.3;
        margin-bottom: 50px;
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            font-size: 26px;
            font-weight: 700;
        }
        @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
            font-size: 32px;
        }
    }
}
.solution-row {
    display: flex;
    position: relative;
    &::before {
        content: " ";
        width: 502px;
        height: 315px;
        border: 10px solid $secondry-color;
        border-radius: 30px;
        position: absolute;
        left: -30px;
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            display: none;
        }
        @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
            display: none;
        }
    }
    .solution-content-col1 {
        img {
            width: 522px;
            height: 315px;
            border-radius: 30px;
            position: relative;
            top: -20px;
            left: 5px;
            @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
                width: 100%;
                left: 0;
            }
            @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
                width: 80%;
            }
        }
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
    .solution-content-col2 {
        margin-left: 30px;
        .solution-inner-row {
            display: flex;
        }
    }
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        display: block;
        font-size: 16px;
    }
    @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
        display: block;
    }
}

.solution-inner-col {
    margin: 26px 0 8px 15px;
    width: calc(50% - 19px);
}
.solution-icon-box {
    margin-bottom: 20px;
    span {
        border: 1px solid black;
        padding: 9px 13px;
        border-radius: 50%;
    }
}

/* Why Choose Section */

.why-choose-container {
    width: $main-width;
    padding-bottom: 140px;
    margin: 0 auto;
    @media screen and (min-width: $mobile-min-width) and (max-width: $tab-max-width) {
        @include mobile-screen(95%,24px , 0 auto );

    }
}
.main-container {
    padding: 0 20px;
}
.why-choose-intro {
    margin: 0 auto;
    width: 848px;
    h2 {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 14px;
        font-weight: normal;
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            font-size: 26px;
            font-weight: 700;
        }
    }
    p {
        margin: 8px 0;
        font-size: $font-size-normal;
        color: #000000;
        text-align: center;
    }
    p {
        margin: 31px 0px 8px;
        font-size: $font-size-normal;
        text-align: center;
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            font-size: 16px;
        }
    }
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        width: 100%;
    }
    @media screen and (min-width: $tab-min-width) and (max-width: $tab-max-width) {
        width: 100%;
    }
}
.why-choose-row {
    display: flex;
    width: calc(100% +4px);
    text-align: center;
    margin: 0 auto;
    margin: 41px -3px 0px -1px;
    justify-content: center;
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        width: 100%;
        display: block;
    }
}
.why-choose-col {
    width: 25%;
    margin: 15px 23px 0;
    .why-choose-content {
        h6 {
            font-size: $font-size-normal;
            margin: 0 0 14px;
            line-height: 0.9;
            text-align: center;
            font-weight: normal;
            color: #000000;
        }
        @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
            margin-bottom:20px;
        }
    }
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        width: 100%;
        margin: 0;
        font-size: 16px;
    }
}
.col-4 {
    margin:15px 0 0px 23px ;
    @media screen and (min-width: $mobile-min-width) and (max-width: $mobile-max-width) {
        margin: 0;
    }
}
.why-choose-icon-container {
    margin: 0 auto 23px ;  
    width: 100px; 
    img {
        height: 64px;
        width: 100%;

    }
}

/* Resources Section*/
.resources-container {
    width: $main-width;
    margin: 0 auto;
    padding: 0px 0px 110px 0;
}
.resources-main-container {
    width: 100%;
    padding: 0 20px;        
}
.resources-intro-container {
    width: 672px;
    margin: 0 auto 56px;
    text-align: center;
    h2 {
        font-size: 40px;
        margin: 0 0 14px;
        font-weight: normal;
        color: #000000;
    }
    p {
        font-size: $font-size-normal;
        margin: 8px 0;
    }
}
/* Resources SlideShow */
.slider-pre-btn {
    height: 16px;
    width: 16px;
    position: relative;
    top: 300px;
    left: -20px;
    border: 2px solid gray;
    border-width: 0 0 5px 5px;
    transform: rotate(50deg);
    background:transparent;
    outline: none;
    cursor: pointer;
}
.slideshow-container {
    width: 1080px;
    margin: $left-right-margin;
    display: flex;
    overflow: hidden;
    .slide-container {
        width: 330px;
        margin: 16px 15px 30px;
        box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.16);
    }
    .card {
        a {
            text-decoration: none;
            color: #000000;
            .card-img {
                height: 222px;
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                span {
                    position: relative;
                    top: -200px;
                    left: 25px;
                    background-color: $secondry-color;
                    padding: 4px 11px;
                    font-weight: bold;
                    border-radius: 2px;
                }
            }
            .card-body {
                margin: 28px 31px 29px 28px;
                h6 {
                    margin-bottom: 10px;
                    height: 81px;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    font-weight: normal;
                }
                p {
                    font-size: 0.875rem;
                    line-height: 1.71;
                    font-weight: normal;
                }
            }
        }
    }
}
.slider-next-btn {
    height: 16px;
    width: 16px;
    position: relative;
    top: -318px;
    left: 1130px;
    border: 2px solid gray;
    border-width: 0 0 5px 5px;
    transform: rotate(225deg);
    background:transparent;
    outline: none;
    cursor: pointer   
}
/*Icons Grid Section */
.icons-grid-section {
    background-color: #f3f3f3;
    padding-bottom: 90px ;
    padding-top: 79px;
    width: 100%;
    .icons-main-container {
        width: $main-width;
        padding: 0 20px;
        margin: $left-right-margin;
        h6 {
            text-align: center;
            font-size: 1.5rem;
        }
        .icons-main-column {
            margin-top: 45px;
            display: flex;
            width: 100%;
            justify-content: center;
            a {
                text-decoration: none;
                flex-basis: calc(100%/5);
                justify-content: center;
                }
                div {
                    text-align: center;
                    p {
                        color: #777770;
                        font-size: 1.25rem;
                        font-weight: normal;
                        text-align: center;
                    }
            }
           
        }
    }
}
.image-box {
    height: 120px;
    width: 120px;
    margin: 3px auto 15px ;
    position: relative;
    padding: 17px;
    img {
        width: 73px;
        height: 64px;
        position: relative;
        z-index: 1;
    }
    &::after {
        content: "";
        position: absolute;
        width: 120px;
        height: 120px;
        border: 2px solid transparent;
        border-radius: 50%;
        background-color: #fff;
        right: 10px;
        top: 2px;
        bottom: 4px;
        
    }
}
/*Icons Grid Section end */ 
/*Testimonial Section start */
.testimonial-section {
    padding-top: 92px;
    padding-bottom: 153px;
}
.testimonial-main-container {
    width: $main-width;
    margin: $left-right-margin;
    padding: 0 20px;
    .testimonial-heading-container {
        text-align: center;
        h2 {
            font-size: 2.5rem;
            margin-bottom: 18px;
            font-weight: 300;
            line-height: 1.3;
            color: #000000;
        }
        a {
            text-decoration: none;
            color: #000000;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 5px;
                height: 5px;
                right: -25px;
                top: 6px;
                border: solid black;
                border-width: 0 0 2px 2px;
                transform: rotate(225deg);

            }
        }
    }
}
.testimonial-card-row {
    margin-top: 46px;
    display: flex;
    width: 100%;
}
.testimonial-card-container {
    margin: 16px 8px 0;
    width: calc(33.33% - 16px);
    height: 544px;
    box-shadow: 0 3px 18px 0 rgba(0, 0,0,0.16);  
    .testimonial-card {
        padding: 34px 35px 40px 40px;
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
}
.card-text {
    margin-bottom: 50px;
    h6 {
        line-height: 1.5;
        font-size: 1.5rem;
        font-weight: 300;
        color: #000000;
        text-align: left;
    }
}
.client-info {
    display: flex;
    align-items: flex-end;
    height: 100%;
    .client-image {
        width: 3px;
        height: 60px;
        background-color: red;
        margin-right: 16px;
    }
    .contact-info {
        p {
            line-height: 1.25;
            text-align: left;
            font-weight: normal;
            width: 200px;
            letter-spacing: normal;
        }
    }

}
/*Testimonial Section End */
/*Footer-Cta Section Start */
.footer-cta-section {
    position: relative;
    padding: 56px 0;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: url("../assets/images/cta-grid.png");
        background-size: 100% 100%; 
        background-color: $primary-color;
        background-repeat: no-repeat;
        z-index: -1;
        width: 104%;
        height: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        background: url("../assets/images/svg/wavy-lines-yellow.svg") no-repeat ;
        background-size: 105% 100%;
        top: 305px;
        bottom: 0px;
        left: -50px;
        right: 0;
        width: 104%;
        height: 215px;
        z-index: 2;
        
    }
} 
.footer-cta-container {
    box-sizing: border-box;
    width: $main-width;
    margin: $left-right-margin;
    padding: 0 20px;
}
.footer-cta-row {
    display: flex;
    align-items: center;
    .footer-cta-text {
        width: 50%;
        h2 {
            color: #fff;
            font-size: 2.5rem;
            line-height: 1.13;
            font-weight: 300;
            max-width: 340px;
        }
        .link-btn-container {
            margin-top: 35px;
            position: relative;
            a {
                text-decoration: none;
                color: $secondry-color;
                margin-right: 15px;
                display: inline-block;
                line-height: 1.13;
                padding: 8px 24px 8px 24px;
                border: 1px solid;
                border-radius: 2px;
                &:hover {
                    background-color: $secondry-color;
                    color: #000000;
                    border: 0;
                }
            }
        }
    }
    .footer-cta-image-box {
        width: 50%;
        position: relative;
        z-index: 4;
        .footer-cta-image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/*Footer-Cta Section End */
/*Footer Section Start----------------*/
.container-fluid-footer {
    width: 100%;
    margin-top: 45px;
    padding: $left-right-padding;
    background-color: #333334;
    position: relative;
    &::before {
        content: "";
        background-image: url("../assets/images/svg/curve-white-desktop.svg");
        width: 100%;
        height: 70px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100%;
        top: -1px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}
.main-footer-container {
    padding-top: 5rem;
    margin-top: 48px;
    width: 100%;
    .container {
        width: $main-width;
        padding:$left-right-padding;
        margin: $left-right-margin;
        box-sizing: border-box;
    }
    .footer-container1 {
        .row {
            display: grid;
            grid-template-columns: 190px 285px 95px 600px ;
        }
    }
}
/* Social-Links-Column */
.social-links-container {
    img {
        margin-bottom: 25px;
        padding-right: 10px ;
    }
    p {
        margin-bottom: 16px;
        color: #fff;
        font-size: 17px;
    }
}
.col {
    padding: $left-right-padding;
}
.links {
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
    }
}
/* Social-Links-Column End */
/* Subscribe-Column */
.subscribe-column {
    .subscribe-heading {
        color: $secondry-color;
        font-size: 27px;
        margin-bottom: 1rem;
    }
    .subscribe-text {
        color: #fff;
        font-size: 17px;
        margin-bottom: 1rem;
    }
    form {
        .email-section {
            width: calc(100% - 12px);
            padding: 4px;
            color: #000000;
        }
        .email-section::placeholder {
            color: #000000;
        }
        .submit-btn {
            float: right;
            margin-top: 10px;
            padding: 10px 30px;
            font-size: 1rem;
            border: 0;
            background-color: $primary-color;
            color:#fff;
            border-radius: 0;
        }
    }
}
/*Subscribe-Column End */
/*Other-links-column  */
.other-links-main-row {
    display: flex;

    .other-links {
        width: calc(100% / 3);
        div {
            margin-bottom: 16px;
        }
        a {
            display: block;
            text-decoration: none;
            color: #b2b2b2b2;
            line-height: 1.5;
            h2 {
                color: $secondry-color;
                font-weight: normal;
                font-size: 19px;
                margin: 0 0 8px;
            }
        }   
    }
}
/*Other-links-column-End */
/*Copyright Section */
.copyright-section {
    padding: 8px 15px;
    color: #b2b2b2;
    justify-content: center;
    align-items: center;
    display: flex;
    a {
        text-decoration: none;
        color: #b2b2b2b2;
        &:hover {
            color: #fff;
        }
    }
}
/*Copyright Section-End */
/*Footer Section End -------------*/