// Html MainDocument
html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}

// Header-Section
.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgb(0,0,0,0.25);
    .container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
.info-nav {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    padding-top: 0.5rem;
    .empty-info {
        flex-basis: 70%;
    }
    .top-header {
        display: flex;
        // justify-content: center;
        align-items: center;
        width: 30%;
        flex-basis: 30%;
    
        p {
            color: #ED1C24;
            border-right: 1px solid black;
            font-size: 20px;
            font-weight: bold;
            padding-right: 0.5rem;
        }
        img {
           height: 25px;
           width: 25px;
           padding-left: .5rem;
           padding-top: 0.5rem;
        }
    }
}

// Main-Navbar
.main-navbar {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 1.5rem;
    flex-flow: row wrap;
    .brand-container {
        flex-basis: 20%;
        align-self: flex-start;
        margin-bottom: 10px;;
    }
    .nav-container {
        flex-basis: 80%;
        margin-top: 20px;
        .nav-items {
            display: flex;
            list-style: none;
            flex-flow: row wrap;
            .nav-item {
              flex-basis: 100px; 
              a {
                text-decoration: none;
                font-size: 17px;
                color: black;
                &:hover {
                    color:#ED1C24 ;
                    border-bottom: 2px solid #ED1C24;
                    padding-bottom: 10px;
                }
            } 
            }
            .nav-btn {
                width: 200px;
               
            }
            .request-button {
                text-decoration: none;
                padding: 12px;
                color: black;
                font-size: 17px;
                width: 200px;
                border-radius: 0;
                background-color: #FDD600;
                border: none;
            }
        }
    }
}


// Main Section Start
main {
    .banner-container {
        height: 456px;
        overflow: visible;
        padding: 0;
        position: relative;
        top: 138px;
        .waves {
            width: 104%;
            height: 215px;
            position: relative;
            top: -29%;
            left: -4%;
            z-index: 1;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .bg-img {
        height: 456px;
        img {
            height: 100%;
            width: 100%;
            position: relative;
            object-fit: cover;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 43.8%;
            background-image: linear-gradient(#ed1c24 5%,#9e050c 95%);
            opacity: 0.7;
            z-index: 1;
        }
        
    } 
}
// Heading section
.heading-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .heading-content {
        width: 33%;
        text-align: left;
        position: absolute;
        top: 100px;
        z-index: 4;
        color: white;
        h6 {
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: bold;
        }
        h3 {
            font-size: 36px;
            font-weight: 300;
            margin-bottom: 22px;
        }
    }
}

/*---Intro Section Start -----*/
.intro-container {
    width: 100%;
    margin-top: 250px;
 }
 .intro-main-container {
    padding: 0 8px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.intro-heading-row {
    display: flex;
}
.intro-heading-content {
    padding-bottom: 56px;
}
.intro-heading-content h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 100;
}
.intro-heading-content p {
    width: 522px;
    margin: 8px 0;
    font-size: 20px;
    justify-content: left;
    color: #000000;
}
.intro-content-row {
   display: flex;
   
   .col-1 {
       margin-left: 0;
   }
}
.intro-content-col {
    // width: calc(33% - 35px);
    flex-basis:33%;
    margin: 15px 15px 0;
    align-self: baseline;
    div {
        margin-bottom: 28px;        
        display: flex;
        .intro-icon {
            width: 60px;
            height: 60px;
        }
        .icon-title {
            margin-left: 30px;
            padding: 10px 0 0;
            font-size: 20px;
            font-weight: bold;
        }
    }
    
}
/* Solution Section */
.gray-waves {
    // background-color: chartreuse;
    width: 114%;
    height: 100%;
    padding-top: 50px;
    .waves-bg {
        width: 114%;
        height: 65%;
        position: absolute;
        left: -5%;
        z-index: -1;
    }
}
.solution-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 140px;
    // &::before {
    //     content: " ";
    //     background: url("../images/wavylines-gray.png") no-repeat center;
    //     position: absolute;
    //     left: -5%;
    //     z-index: 100;
    //     background-size: 100% 85%;
    //     height: 100%;
    //     width: 114%;
    // }
}
.solution-main-container {
    width: 100%;
    margin-bottom: 30px;
    h2 {
        text-align: center;
        font-size: 40px;
        font-weight: 300;
        line-height: 1.3;
        // width: 100%;
    }
}
.solution-row {
    display: flex;
    &::before {
        content: " ";
        width: 522px;
        height: 315px;
        border: 10px solid #FDD600;
        border-radius: 30px;
        left: 110px;
        position: absolute;
    }
    .solution-content-col1 {
        img {
            width: 522px;
            height: 315px;
            border-radius: 30px;
            position: relative;
            top: -20px;
        }
    }
    .solution-content-col2 {
        margin-left: 30px;
        .solution-inner-row {
            display: flex;
            
        }
    }
}

