
// Html MainDocument
html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
}

// Header-Section
.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px rgb(0,0,0,0.25);
    .container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
.info-nav {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    .empty-info {
        flex-basis: 75%;
    }
    .top-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 20%;
    
        p {
            color: #ED1C24;
            border-right: 1px solid black;
            font-size: 20px;
            font-weight: bold;
            padding-right: 0.5rem;
        }
        img {
           height: 25px;
           width: 25px;
           padding-left: .5rem;
           padding-top: 0.5rem;
        }
    }
}

// Main-Navbar
.main-navbar {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 1.5rem;
    flex-flow: row wrap;
    .brand-container {
        flex-basis: 20%;
        align-self: flex-start;
    }
    .nav-container {
        flex-basis: 60%;
        ul {
            display: flex;
            list-style: none;
            align-items: center;
            
            li {
              flex-basis: 100px; 
              a {
                text-decoration: none;
                font-size: 17px;
                color: black;
            } 
            }
        }
    }
    .request-button-container {
        flex-basis: 20%;
    }
}
.request-button-container {
    .request-button {
        padding: 8px;
        font-size: 17px;
        border-radius: 0;
        background-color: #FDD600;
        width: 150px;
        border: none;
    }
}